body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #C5D3E8, #D0E8C5);
    color: #333;
    margin: 0;
    line-height: 1.6;
}

header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 15px 0;
}

main {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 20px auto;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}

nav, .navbar {
    background: linear-gradient(135deg, #D0E8C5, #FFF8DE); /* Green to yellow gradient */
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul, .navbar {
    padding: 0;
}

nav ul li, .navbar li {
    margin: 0 15px;
}

nav a, .navbar a {
    color: #fff;
    text-decoration: none;
}

.navbar a {
    padding: 8px 15px;
    background-color: #555;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #666;
}


.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.imagen {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0.4rem;
}

.imagen img {
    width: 100%;
    display: block;
    transition: transform 0.3s;
}

.imagen img:hover {
    transform: scale(1.05);
}
