body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #C5D3E8, #D0E8C5);
    color: #333;
    margin: 0;
    line-height: 1.6;
}

/* Header and Footer */
header, footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
    margin-top: 20px;
}

/* Main Content */
main {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 20px auto;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

main:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

/* Navigation Styling */
nav, .navbar {
    background: linear-gradient(135deg, #D0E8C5, #FFF8DE);
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul, .navbar {
    padding: 0;
}

nav ul li, .navbar li {
    margin: 0 15px;
}

/* Navigation Links with Zoom and Button Effect */
.navbar a {
    color: #fff; /* Default text color set to white */
    padding: 8px 15px;
    background-color: #555;
    border-radius: 5px;
    transition: all 0.3s ease; /* Smooth transition for all changes */
    font-weight: bold;
}

.navbar a:hover {
    background-color: #666;
    transform: scale(1.1); /* Slight zoom effect */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds shadow to emphasize the button effect */
}

/* Gallery Styling */
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.imagen {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0.4rem;
    position: relative;
    transition: box-shadow 0.3s ease;
}

.imagen:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Increased shadow on hover */
}

/* Image Styling with Hover Effects */
.imagen img {
    width: 100%;
    display: block;
    transition: transform 0.3s, filter 0.3s; /* Smooth transition */
    border-radius: 8px;
    border: 2px solid transparent;
}

.imagen img:hover {
    transform: scale(1.1) rotate(2deg); /* Scale and slight rotation */
    border-color: #C5D3E8; /* Adds a border color on hover */
    filter: brightness(1.1); /* Brightens the image on hover */
}
